<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>{% block title %}Sneakers Pluss{% endblock %}</title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>

<main>

    {% include('admin/navbar.html.twig') %}

    <div class="flex overflow-hidden bg-white pt-16">
        {% include('admin/sidebar.html.twig') %}
        <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>

        {#        <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64"> #}
        <div id="main-content" class="h-full w-full bg-gray-50 relative lg:ml-64">
            {% block body %}{% endblock %}
        </div>
    </div>
    {#        <script async defer src="https://buttons.github.io/buttons.js"></script> #}
    {#        <script src="https://demo.themesberg.com/windster/app.bundle.js"></script> #}


</main>

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
