
@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import "variables";
@import "mixin";
@import "columns";
@import "typography";
@import "header";
@import "footer";
@import "responsive";
@import "position";
@import "button";
@import "product-card";
@import "form";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main{
  min-height: 50vh;
  margin: 15px;
  padding: 20px 50px;
  position: relative;
}






