@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import "variables";
@import "typography";
@import "header";
@import "footer";
@import "button";
@import "products-card";
@import "form";
@import "home";
@import "collections";
@import "favorites";
@import "sneaker";
@import "carts";
@import "orders";
@import "register";
@import "login";
@import "utils";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

main {

  background: $white-color;
  padding: 8px;
}


@media only screen and (min-width: 768px) {
  main {
    background: $white-color;
    padding: 10px 64px;
  }
}


@media only screen and (min-width: 1024px) {
  main {
    background: $white-color;
    padding: 14px 128px;
  }
}

@media only screen and (min-width: 1280px) {


}