
@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$primary-color: #5B2434;
$secondary-color: #D1920D;
$neutral-color: #171717;
$background-color:#94a3b8;

@import "header";
@import "footer";
@import "product-card";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main{

  min-height: 50vh;
  margin: 15px;
  padding: 20px 50px;
}
