
.cart {

  width: 100%;
  margin: 64px 0;

  .sneakers {

    .sneaker-cart {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      min-height: 75px;
      border: 1px solid black;
      margin: 8px 0;

      .sneaker-image {
        grid-column: 1;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .sneaker-infs {
        grid-column: 2/5;
        padding: 4px;
        display: grid;
        grid-template-columns: 1fr;

        .details {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          padding: 4px;

          .name {
            grid-column: 1/3;

            font-size: 16px;
            color: $gray-color;
            font-weight: 400;

            a {
              text-decoration: none;
              font-size: 20px;
              font-weight: 500;
              color: black;
            }


          }

          .price {
            grid-column: 3;
            text-align: right;
          }
        }

        .actions {

          a {
            background-color: transparent;
            padding: 2px;
            border: none;
            margin: 4px 0;

            i {
              font-size: 22px;
            }

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

    .nothing {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .clear {

      width: 100%;
      padding: 8px 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $danger-color;

      a {
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
      }

    }
  }

  .resume-cart {
    margin: 4px;

    h2 {

    }

    .resume-details {

      width: 100%;
      display: block;
      border: 1px solid black;
      padding: 8px;
      margin: 8px 0;
      font-weight: 700;

      div {

        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px;
      }

      .resume-actions {

        a {
          width: 100%;
          padding: 15px 32px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 14px;
          border: none;
          font-size: 16px;
          font-weight: 400;
          margin: 4px 0;
          color: white;
          background-color: $primary-color;
        }
      }
    }

  }

}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

  .cart {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;

    .sneakers {
      grid-column: 1/3;

      .sneaker-cart {

      }

    }

    .resume-cart {

      h2 {

      }

      .resume-details {

        .resume-actions {


        }
      }

    }

  }


}

@media only screen and (min-width: 1280px) {


}