footer {

  background-color: $dark-color;
  width: 100%;
  color: $gray-color;

  .footer-custom {

    max-width: 1008px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;

    &:after {
      display: table;
      clear: both;
      content: "";
    }

    a {
      text-decoration: none;
      color: $gray-color;
      padding: 5px 0;
      display: block;

      &:link {
        text-decoration: none;
        color: $gray-color;
        padding: 5px 0;
        display: block;
      }

      &:visited {
        text-decoration: none;
        color: $gray-color;
        padding: 5px 0;
        display: block;
      }

      &:hover {
        text-decoration: underline;
        color: $gray-color;
        cursor: pointer;
      }

      &:active {
        text-decoration: underline;
        color: $gray-color;
        cursor: pointer;
      }
    }

    .footer-legal {
      a {
        display: inline;
      }
    }
  }

  .footer-lists {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .footer-others {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .ftr-hdr {
    color: $white-color;
    font-size: 22px;
    margin: 1em 0 0;
  }

  .footer-list-wrap {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }

  .ftr-links-sub {
    padding: 0;
    margin: 0;

    &:after {
      display: table;
      clear: both;
      content: "";
    }

    li {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 3px 0;
      color: $gray-color;
      font-size: 12px;
      text-transform: uppercase;

      .link {
        text-decoration: none;
        color: $gray-color;
        padding: 5px 0;
        display: block;

        &:hover {
          text-decoration: underline;
          color: $gray-color;
          cursor: pointer;
        }
      }
    }
  }

  .footer-social {
    text-align: center;
    width: 100%;

    ul {
      padding: 0;
      display: inline-block;
      list-style-type: none;

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }

    li {
      float: left;
      margin: 0 15px 0 0;
      padding: 0;
    }
  }

  .footer-payment {
    text-align: center;
    width: 100%;

    ul {
      padding: 0;
      display: inline-block;
      list-style-type: none;

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }

    li {
      float: left;
      margin: 0 15px 0 0;
      padding: 0;
    }
  }

  .footer-legal {
    padding: 15px 0 0;
    clear: left;
    width: 100%;
  }

}


@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
  .footer-list-wrap {
    width: 25%;
  }
  .footer-custom {
    a {
      padding: 0;

      &:link {
        padding: 0;
      }

      &:visited {
        padding: 0;
      }
    }
  }
  .ftr-links-sub {
    li {
      .link {
        padding: 0;
      }
    }
  }
  .footer-lists {
    width: 100%;
  }
  .footer-others {
    width: 100%;
  }
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-others {
    width: 33.3333%;
    float: right;
  }
}
