.main-brand-selected {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  margin: 18px 0;

  .brand-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid $gray-color;

    div{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      height: 40px;
      width: 40px;
    }
  }


}

.main-collection-news {

  margin: 18px 0;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap: 10px;

  align-items: center;
  justify-content: center;

}


@media only screen and (min-width: 768px) {

  .main-brand-selected {

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;

  }

  .main-collection-news{
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {


  .main-brand-selected {

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;

  }

  .main-collection-news {

    margin: 18px 0;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 14px;

    align-items: center;
    justify-content: center;

  }

}

@media only screen and (min-width: 1280px) {

}