
//Screen
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;





// Color
$bg-color:#fff;
$text-color:#0f172a;
$primary-color:#D1920D;
$secondary-color: #5B2434;
$dark-color:#020617;
$neutral-color: #171717;
$success-color: #059669;
$danger-color:#e11d48;
$white-color: #fff;
$gray-color: #9b9b9b;
$lightgray-color:#e5e7eb;
$green-color:#22c55e;
$blue-color:#1d4ed8;
$red-color:#dc2626;
