
//Screen
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;





// Color
$primary-color: #5B2434;
$secondary-color: #D1920D;
$neutral-color: #171717;
$success-color: #059669;
$danger-color:#e11d48;
$background-color:#fff;
$white: #fff;
$gray: #9b9b9b;
$light-gray:#e5e7eb;
$green:#22c55e;
$blue:#1d4ed8;
$red:#dc2626;
