{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Collections
{% endblock %}

{% block body %}

    <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12" {{ react_component('CollectionsController' ) }}>
        {% include '_loading.html.twig' %}
    </section>

{% endblock %}
