{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}

    <section class="orders" {{ react_component('OrdersController' ) }}></section>

{% endblock %}
